.box {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  padding-top: 0px;
  position: relative;

  .content {
    max-width: 1000px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0px;
    background-color: #FFF;
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    .fun {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      // grid-column-gap: 0.5fr;
      grid-row-gap: 60px;
      width: 80%;
      margin-top: 100px;

      .funItem {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        background-color: #f0f0f0;
       padding: 20px 0px;
        border-radius: 10px;
        
        cursor: pointer;
        transition: all 0.2s;

        &:hover {
          transform: scale(1.1);
        }

        :global {
          .anticon {
            font-size: 100px;

          }
        }
      }
    }
  }
}